[submodule "modules/eda-kicad-schematic-pcb"]
	path = modules/eda-kicad-schematic-pcb
	url = git@gitlab.oit.duke.edu:EmbeddedMedicalDevices/eda-kicad-schematic-pcb.git
[submodule "syllabus"]
	path = syllabus
	url = git@gitlab.oit.duke.edu:MedTechPrototyping/medtech-prototyping-skills-syllabus.git
