[submodule "modules/eda-kicad-schematic-pcb"]
	path = modules/eda-kicad-schematic-pcb
	url = git@gitlab.oit.duke.edu:MedTechPrototyping/eda-kicad-schematic-pcb.git
[submodule "syllabus"]
	path = syllabus
	url = git@gitlab.oit.duke.edu:MedTechPrototyping/medtech-prototyping-skills-syllabus.git
[submodule "modules/medtech-skill-overview"]
	path = modules/medtech-skill-overview
	url = git@gitlab.oit.duke.edu:MedTechPrototyping/medtech-skill-overview.git
[submodule "modules/cad-onshape"]
	path = modules/cad-onshape
	url = git@gitlab.oit.duke.edu:MedTechPrototyping/cad-onshape.git
[submodule "modules/git-fundamentals"]
	path = modules/git-fundamentals
	url = git@gitlab.oit.duke.edu:EmbeddedMedicalDevices/git-fundamentals.git
[submodule "modules/arduino_timing_gpio"]
	path = modules/arduino_timing_gpio
	url = git@gitlab.oit.duke.edu:MedTechPrototyping/arduino_timing_gpio.git
[submodule "modules/arduino_isr_adc"]
	path = modules/arduino_isr_adc
	url = git@gitlab.oit.duke.edu:MedTechPrototyping/arduino_isr_adc.git
